*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: sans-serif;
  scroll-padding-top: 6rem !important;
  scroll-behavior: auto !important;
}

body {
  overflow-x: hidden;
}

.detail-card__tooltip {
  position: fixed;
}
